.pbox{
box-sizing: border-box;
width: 550px;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
border: 1px solid #0a0a0a;
padding: 15px;
outline: 20px solid #1f1f1f;
}

.pbox strong{color: var(--spcolor);}

.pimage{
box-sizing: border-box;
width: 500px;
height: 200px;
margin: 0 auto;
padding: 5px;
border: 1px solid #0a0a0a;
background-size: cover;
margin-top: 15px;
margin-bottom: 15px;
}

.pbox2, .plechu{
box-sizing: border-box;
width: 400px;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
border: 1px solid #0a0a0a;
padding: 15px;
outline: 20px solid #1f1f1f;
text-align: center;
}

.plechu{text-align: justify; font: 16px 'Rozha One';}

.pbox2 img{
height: 75px;
width: 75px;
float: left;
padding: 2px;
border: 1px solid #0a0a0a;
}

.ptitle, .ptitle2{
font: 34px 'Rozha One';
font-weight: 700;
text-align: center;
}

.ptitle2{
color: var(--spcolor);
}

.psubtitle{
margin-left: 30px;
padding: 10px;
border-bottom: 1px solid #0a0a0a;
text-transform: uppercase;
font: 14px 'Montserrat';
font-weight: 700;
color: var(--staff);
}

.pficha{
box-sizing: border-box;
width: 550px;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
border: 1px solid #0a0a0a;
outline: 20px solid #1f1f1f;
}

.pficha2{
box-sizing: border-box;
width: 400px;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
border: 1px solid #0a0a0a;
outline: 20px solid #1f1f1f;
}

.pname{
text-align: center;
font: 26px 'Rhoza One';
font-weight: 700;
border-bottom: 1px solid #0a0a0a;
padding: 15px;
color: var(--spcolor);
}

.pcont{
display: flex;
border-bottom: 1px solid #0a0a0a;
height: 500px;
}

.pcont2{
box-sizing: border-box;
padding: 15px;
height: 150px;
overflow: auto;
}

.pcont3{
display: flex;
box-sizing: border-box;
height: 200px;
}

.pcont4{
display: flex;
box-sizing: border-box;
flex-wrap: wrap;
}

.pleft{
border-right: 1px solid #0a0a0a;
box-sizing: border-box;
width: 205px;
height: 500px;
padding: 10px;
overflow: auto;
}

.pleft2{
border-right: 1px solid #0a0a0a;
box-sizing: border-box;
width: 200px;
height 200px;
padding: 10px;
}

.pleft img, .pleft2 img{
width: 170px;
height: 170px;
padding: 5px;
border: 1px solid #0a0a0a;
}

.pleft strong{
color: var(--spcolor);
}

.pright{
box-sizing: border-box;
width: 350px;
padding: 10px;
overflow: auto;
}

.pright2{
box-sizing: border-box;
padding: 10px;
font: 12px 'Calibri';
text-transform: uppercase;
line-height: 25px;
}

.pright2 .far{margin-right: 10px; color: var(--spcolor);}

.patri{
box-sizing: border-box;
width: 137px;
text-align: center;
border-top: 1px solid #0a0a0a;
border-right: 1px solid #0a0a0a;
display: inline-block;
padding: 20px;
}

.item1{
width: 400px;
background: #1f1f1f;
padding: 5px;
display: inline-block;
margin-left: 10px;
margin-bottom: 2px;
}

.item2{
width: 60px;
background: var(--acento-3);
padding: 5px;
display:inline-block;
margin-bottom: 2px;
}

.pinfo{
font: 10px 'Montserrat';
text-transform: uppercase;
text-align: center;
border-top: 1px solid #0a0a0a;
border-bottom: 1px solid #0a0a0a;
padding: 5px;
margin-top: 20px;
margin-bottom: 20px;
color: var(--spcolor);
}

.pinfo2{
font: 10px 'Montserrat';
text-transform: uppercase;
text-align: right;
color: var(--spcolor);
border-bottom: 1px solid #0a0a0a;
padding: 5px;
margin-bottom: 20px;
}

.prtit{
font: 30px 'Playfair Display';
font-weight: 700;
text-indent: 20px;
letter-spacing: 2px;
margin: 5px;
}

.prtext{
text-indent: 40px;
line-height: 20px;
padding: 10px;
}

.pcrono{
box-sizing: border-box;
width: 515px;
background: #1f1f1f;
border: 1px solid #0a0a0a;
padding: 10px;
margin: -5px;
}

.pcrono2{
box-sizing: border-box;
width: 515px;
height: 250px;
overflow: auto;
padding: 5px;
}

.pcrono a, .pcrono2 a{text-transform: uppercase;}

.prelas{
box-sizing: border-box;
height: 500px;
overflow: auto;
padding: 10px;
display: flex;
flex-wrap: wrap;
}

.prel{
background: #1f1f1f;
box-sizing: border-box;
width: 480px;
height: 135px;
overflow: auto;
padding: 10px;
border: 1px solid #0a0a0a;
margin: 1px;
}

.prel img{
width: 100px;
height: 100px;
background-size: cover;
padding: 5px;
border: 1px solid #0a0a0a;
float: left;
margin-right: 10px;
}

.ptrof{
box-sizing: border-box;
width: 255px;
height: 250px;
overflow: auto;
padding: 5px;
margin: 2px;
border: 1px solid #0a0a0a;
}

.preg, .pregr{
overflow: auto;
border: 1px solid #0a0a0a;
padding: 10px;
}

.preg{height: 300px;}
.pregr{height: 200px;}
.pfecha{text-align: right;}

.pimg{
height: 200px;
width: 150px;
padding: 5px;
border: 1px solid #0a0a0a;
float: left;
margin: 10px;
background-position: center;
}

.pbusq{
padding: 5px;
border-bottom: 1px solid #0a0a0a;
text-align: center;
text-transform: uppercase;
font: 10px 'Montserrat';
color: var(--spcolor);
}

.pbusq2{
box-sizing: border-box;
border: 1px solid #0a0a0a;
width: 350px;
height: 212px;
overflow: auto;
padding: 5px;
margin: 10px;
}

.pshop{
box-sizing: border-box;
width: 200px;
height: 150px;
border: 1px solid #0a0a0a;
margin: 3px;
overflow: auto;
}

.pshop1{
border-bottom: 1px solid #0a0a0a;
text-align: center;
text-transform: uppercase;
font: 12px 'Calibri';
padding: 5px;
background: #0a0a0a;
}

.pshop2{padding: 10px;}

.pgcont{
display: flex;
flex-wrap: wrap;
}

.pgcont2{
background: #181818;
box-sizing: border-box;
width: 240px;
border: 1px solid #0a0a0a;
margin: 2px;
text-align: justify;
}

.pgname, .pgemp, .pgedad, .pgdisp{
text-transform: uppercase;
text-align: center;
padding: 5px;
}

.pgname{
border-bottom: 1px solid #0a0a0a;
font-size: 14px;
font-weight: 700;
text-shadow: 1px 1px 1px #000;
}

.pgemp{
border-bottom: 1px solid #0a0a0a;
font-weight: 700;
}

.pgedad{
border-bottom: 1px solid #0a0a0a;
}

.pgdisp{
border-top: 1px solid #0a0a0a;
font-weight: 700;
}

.pgdesc{
height: 150px;
padding: 7px;
overflow: auto;
}

.anunc{
  margin: 0 auto;
  margin-top: 25px;
  width: 300px;
  border: 1px solid #0a0a0a;
  outline: 20px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 3px;
}

.anunc-cont{
  padding: 10px;
  font: 12px Montserrat;
  text-align: justify;
}

.anunc span{
  color: var(--staff);
  font-family: 'Rhoza One';
  font-size: 28px;
  display: block;
  text-align: center;
  font-weight: 700;
}
